certifi==2025.8.3
charset-normalizer==3.4.3
easydict==1.13
filelock==3.19.1
fsspec==2025.9.0
huggingface-hub==0.17.1
idna==3.10
joblib==1.5.2
numpy==1.21.5
nvidia-ml-py==12.575.51
packaging==25.0
pandas==1.4.4
pillow==11.3.0
pynvml==12.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2025.9.1
requests==2.32.5
safetensors==0.6.2
scikit-learn==1.0.2
scipy==1.9.1
six==1.17.0
threadpoolctl==3.6.0
tokenizers==0.13.3
torch==1.13.0+cu117
torchaudio==0.13.0+cu117
torchvision==0.14.0+cu117
tqdm==4.67.1
transformers==4.33.1
typing_extensions==4.15.0
urllib3==2.5.0
